# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Models & Large Files
models/*.pt
models/*.onnx
models/*.weights
models/*.h5

# Data
data/img/output
data/video/input
data/video/output

# OS
.DS_Store
Thumbs.db
desktop.ini

# Files
.env
